@font-face {
  font-family: 'RokhN';
  src: url(../src/assets/Fonts/RokhFaNum-Normal.woff2)
}
@font-face {
  font-family: 'RokhS';
  src: url(../src/assets/Fonts/Rokh-SemiBold.woff2)
}
@font-face {
  font-family: 'RokhM';
  src: url(../src/assets/Fonts/RokhFaNum-Medium.woff2)
}
@font-face {
  font-family: 'RokhB';
  src: url(../src/assets/Fonts/RokhFaNum-Bold.woff2)
}
@font-face {
  font-family: 'iransansB';
  src: url(../src/assets/Fonts/IRANSansWeb_Bold.woff2)
}
@font-face {
  font-family: 'iransansM';
  src: url(../src/assets/Fonts/IRANSansWeb_Medium_FaNum.woff2)
}
@font-face {
  font-family: 'iransansL';
  src: url(../src/assets/Fonts/IRANSansWeb_Light.woff2)
}
@tailwind base;
@tailwind components;
@tailwind utilities;